#paging {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 7px;
}

#paging.hidden {
    display: none;
}

#paging button {
    background-color: #8b8b70;
    border: 2px solid #5a372c;
    border-radius: 5px;

}

#previous-button {
    margin-right: 4px;
    padding: 4px;
}

#next-button {
    margin-left: 4px;
    padding: 4px;
}